<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <ion-card> -->
    <ion-list>
      <ion-item lines="none" style="margin-bottom: 10px;">
        <ion-input
          type="email"
          fill="solid"
          label="Email"
          labelPlacement="floating"
          fill="outline"
          errorText="Invalid email"
          ngModel
          email
        ></ion-input>
      </ion-item>

      <ion-item lines="none" style="margin-bottom: 10px;">
        <ion-input type="password" label="Password" labelPlacement="floating" fill="outline" [counter]="true" maxlength="10"></ion-input>
      </ion-item>

    </ion-list>
    <ion-button fill="outline" expand="block" (click)="login()" shape="round" color="primary">
      Login
    </ion-button>
    <p style="text-align: center;font-size: 15px;">
      <a (click)="register()">Not registered ? Register here</a>
    </p>
  <!-- </ion-card> -->
</ion-content>
