<ion-card>
  <ion-card-header style="display: flex;">
    <ion-card-title>
      ₹62,000.00
      <div style="float: right;"><ion-icon size="small" src="../../../assets/icon/pencil-outline.svg"></ion-icon></div>
    </ion-card-title>
    <ion-card-subtitle>12th Feb 2024</ion-card-subtitle>
  </ion-card-header> 
  <ion-card-content>
    Salary
  </ion-card-content>
  <!-- <ion-button fill="clear" (click)="add('income')">Add</ion-button> -->
</ion-card>

<ion-fab (click)="addIncome()" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon size="large" src="../../../assets/icon/add-outline.svg"></ion-icon>
  </ion-fab-button>
</ion-fab>
