<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-segment [(ngModel)]="segmentValue" value="expense" style="height: 50px;">
    
    <ion-segment-button value="expense">
      <ion-label>Expense</ion-label>
    </ion-segment-button>
    <ion-segment-button value="income">
      <ion-label>Income</ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="savings">
      <ion-label>Savings</ion-label>
    </ion-segment-button>
    <ion-segment-button value="goals">
      <ion-label>Goals</ion-label>
    </ion-segment-button>

  </ion-segment>


    <div class="full-height">
      <div class="full-height slight-grey" *ngIf="segmentValue == 'expense' ">
        <app-expense-category [segment]="segmentValue"></app-expense-category>
      </div>
      <div class="full-height slight-grey" *ngIf="segmentValue == 'income' ">
        <app-income-category [segment]="segmentValue"></app-income-category>
      </div>
    </div>

</ion-content>
