<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Categories</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>Expense Category</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      Manages categories for tracking your expenses (e.g., guest, food, medical, internet)
    </ion-card-content>
    <ion-button fill="clear">Create</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Savings Category</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      Manage categories for your savings goals (e.g., kid's education, vacation, car payment, travel)
    </ion-card-content>
    <ion-button fill="clear">Create</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Income Category</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      Allows you to create categories for different income sources (e.g., cash, paycheque HDFC, paycheque SBI).
    </ion-card-content>
    <ion-button fill="clear">Create</ion-button>
  </ion-card>

</ion-content>
