<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid class="ion-justify-content-center">
    <ion-row>
      <ion-col>
        <h1 style="font-size: 2.4rem;"><strong>Sign Up</strong></h1>
      </ion-col>
      <ion-col (click)="goToLogin()" style="margin-top: auto;margin-bottom: auto;">
        <h1 style="float: right; color: grey; font-size: 1.2rem;">Login</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid class="ion-justify-content-center">
    <ion-row>
      <ion-col size="5"></ion-col>
      <ion-col>
        <ion-img src="../../../assets/icon/newspaper-outline.svg" alt="Camera Logo" style=" width:50px; height:50px "></ion-img>
      </ion-col>
      <ion-col size="5"></ion-col>
    </ion-row>
    
  <ion-list>

    <ion-item lines="none" style="margin-bottom: 10px;">
      <ion-input
        label="First Name"
        labelPlacement="floating"
        [value]="firstName"
        (ionInput)="onInputFirstName($event)"
        #ionInputEl
       style="border-bottom: 1px solid #c8c7cc;"></ion-input>
    </ion-item>

    <ion-item lines="none" style="margin-bottom: 10px;">
      <ion-input
        label="Last Name"
        labelPlacement="floating"
        [value]="lastName"
        (ionInput)="onInputlastName($event)"
        #ionInputEl2
       style="border-bottom: 1px solid #c8c7cc;"></ion-input>
    </ion-item>

    <ion-item lines="none" style="margin-bottom: 10px;">
      <ion-input
        type="email"
        label="Email"
        labelPlacement="floating"
        errorText="Invalid email"
        email
      ></ion-input>
    </ion-item>

    <ion-item lines="none" style="margin-bottom: 5px;">
      <ion-input type="password" label="Password" labelPlacement="floating" [counter]="true" maxlength="10"></ion-input>
    </ion-item>
    
    <ion-item lines="none"  style="margin-bottom: 10px;">
      <ion-input type="password" label="Confirm Password" labelPlacement="floating" [counter]="true" maxlength="10"></ion-input>
    </ion-item>

  </ion-list>

  <ion-card style="border-radius: 50px;">
    <ion-list>
      </ion-list>
    <ion-button fill="clear" expand="block" (click)="sendOtp()" shape="round" color="primary">
      SIGN UP <ion-icon src="../../../assets/icon/checkmark-outline.svg" slot="start"></ion-icon>
    </ion-button>
  </ion-card>

  </ion-grid>
  


</ion-content>


