<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid class="ion-justify-content-center">
    <ion-row>
      <ion-col>
        <h1><strong>Sign Up</strong></h1>
      </ion-col>
      <ion-col style="margin-top: auto;margin-bottom: auto;">
        <p style="float: right; color: grey;">Login</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid class="ion-justify-content-center">
    <ion-row>
      <ion-col size="5"></ion-col>
      <ion-col>
        <ion-img src="../../../assets/icon/camera-outline.svg" alt="Camera Logo" style=" width:50px; height:50px "></ion-img>
      </ion-col>
      <ion-col size="5"></ion-col>
    </ion-row>
    
  <ion-list>
    <ion-item style="margin-bottom: 10px;">
      <ion-label position="floating">Email address</ion-label>
      <ion-input type="email" fill="outline" placeholder="Enter your email address" ngModel email></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 10px;">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" fill="outline" placeholder="Enter your username"></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 10px;">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" fill="outline" placeholder="Enter your password" [counter]="true" maxlength="10"></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 10px;">
      <ion-label position="floating">Repeat Password</ion-label>
      <ion-input type="password" fill="outline" placeholder="Confirm your password" [counter]="true" maxlength="10"></ion-input>
    </ion-item>
  </ion-list>

  <ion-card style="border-radius: 50px;">
    <ion-list>
      </ion-list>
    <ion-button fill="clear" expand="block" (click)="sendOtp()" shape="round" color="primary">
      SIGN UP <ion-icon src="../../../assets/icon/checkmark-outline.svg" slot="start"></ion-icon>
    </ion-button>
  </ion-card>

  </ion-grid>
  


</ion-content>


