<ion-header>
  <ion-toolbar>
    <ion-title>Yearly Vacation</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="table-wrapper">
    <ion-row class="header-row">
      <ion-col>Date</ion-col>
      <ion-col>Amount</ion-col>
      <ion-col>Category</ion-col>
      <ion-col>Bank</ion-col>
      <ion-col>Action</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>2024-03-12</ion-col>
      <ion-col>₹ 200000</ion-col>
      <ion-col>Yearly vacation</ion-col>
      <ion-col>HDFC Current</ion-col>
      <ion-col>
        <ion-button size="small" color="danger">Delete</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>2024-03-12</ion-col>
      <ion-col>₹ 500000</ion-col>
      <ion-col>Yearly vacation</ion-col>
      <ion-col>HDFC Current</ion-col>
      <ion-col>
        <ion-button size="small" color="danger">Delete</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>2024-03-12</ion-col>
      <ion-col>₹ 50000</ion-col>
      <ion-col>Yearly vacation</ion-col>
      <ion-col>HDFC Current</ion-col>
      <ion-col>
        <ion-button size="small" color="danger">Delete</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
