<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>OTP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item lines="none" style="margin-bottom: 10px;">
      <ion-input type="number" label="OTP" labelPlacement="floating" fill="outline" [counter]="true" maxlength="6"></ion-input>
    </ion-item>
    
  </ion-list>
  <ion-button fill="outline" expand="block" (click)="confirm()" shape="round" color="primary">
    Confirm OTP
  </ion-button>

  <p style="text-align: center;font-size: 15px;">
    <a (click)="resendOTP()">Resend OTP</a>
  </p>

</ion-content>
